*{
    background-color: gray;
}
.black{
    background-color: black;
    width: 200px;
    height: 200px;
    display: inline-block;

}
.white{
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
}
img{
    /* position: sticky;
    bottom: -5%;
    right: inherit; */


    position: absolute;
    top: 10px;
    left: 10px;
}